#books{
    display: flex;
justify-content:flex-start;
align-items: center;
position: relative;
top:100px;
border: 10px solid;
flex-wrap: wrap}

h1{
    height:25rem;
    border : 10px solid red;
    
}
button{
}
#btn{
    position: relative;
    left: 50%;
    top: 80%;
}
#btn2{
    position: relative;
    left: -15%;
    top: 60%;
}
#new{
    position: relative;
    left: 50%;
    height: 46px;
    font-size: 20px;
    font-style: italic;
}
p{
    font-size: 25px;
    font-style: italic;
    font-weight: 100;
}
